version: '3.9'

services:
  backend:
    build:
      context: ./backend
    container_name: symfony-backend
    volumes:
      - ./backend:/var/www/html
    environment:
      # Symfony leerá tu .env directamente
    networks:
      - symfony-net

  nginx:
    image: nginx:alpine
    container_name: symfony-nginx
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend
    networks:
      - symfony-net

  frontend:
    build:
      context: ./frontend
    container_name: react-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app           # tu código local
      - /app/node_modules         # preserva node_modules de la imagen
    environment:
      CHOKIDAR_USEPOLLING: "true" # para hot-reload en entornos docker
    networks:
      - symfony-net
    command: npm start

networks:
  symfony-net:
    driver: bridge
