version: '3.9'

services:
  backend:
    build:
      context: ./backend
    container_name: symfony-backend
    volumes:
      - ./backend:/var/www/html
    networks:
      - symfony-net

  nginx:
    image: nginx:alpine
    container_name: symfony-nginx
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - symfony-net

  frontend:
    build:
      context: ./frontend
    container_name: react-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    networks:
      - symfony-net

networks:
  symfony-net:
    driver: bridge
